# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Notebooks
notebooks/
*.ipynb
bin
bin/

*__pycache__/